body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr;
}

.navbar {
  justify-content: center;
}

.container {
  width: 100%;
}

label.checkbox {
  display: block;
}

.card:hover {
  background-color: hsl(0, 0%, 86%);
}

input:checked ~ span {
  text-decoration: line-through;
  font-style: italic;
  color: hsl(348, 100%, 61%);
}

.header {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
}

.section {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr max-content;
}
